<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/view/styles/work-detail.css" />
    <title>AI Speculation Quiz</title>
  </head>
  <body>
    <div id="site-header"></div>
    <div class="container">
      <h2>AI Speculation Quiz</h2>
      <div class="detail-container">
        <div class="detail-text">
          <p>制作年: 2023</p>
          <p>
            AIが生成した画像のプロンプトを当てるクイズサイト。AIが生成した画像を見て、どのようなプロンプトで生成されたのかを当てることができる。
          </p>
          <p>
            画像生成AIの進化により、誰でも簡単に画像を生成できるようになった。しかし、生成された画像の背後には、どのようなプロンプトがあるのかはわからない。そこで、このクイズサイトでは、AIが生成した画像を見て、その背後にあるプロンプトを当て。
          </p>
          <p>1台のPCを使って、2人で対戦することを想定している。</p>
          <a
            href="https://docs.google.com/presentation/d/1ZegbYrCN931AzH5TPHaV6_Vqt8ctzLU_fTRPiu97MY8/edit?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
            >スライド資料を見る</a
          >
        </div>
        <div class="detail-image">
          <img
            src="/view/images/ai_speculation_quiz.png"
            alt="実際のアプリの画面、なんで背景を紫にしたのかは覚えてない"
          />
        </div>
      </div>
    </div>
    <div id="site-footer"></div>
    <script src="/controller/components/common-components.js"></script>
  </body>
</html>
