<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/view/styles/page.css" />
    <title>Miyamoto Rin</title>
  </head>
  <body>
    <div id="site-header"></div>
    <div class="container">
      <ul class="works-list">
        <li class="work-item">
          <h3>THREE MINUTES THEATER</h3>
          <p>演劇を生成するアプリ</p>
          <a href="/works/three-minutes-theater.html"
            >THREE MINUTES THEATERの詳細を見る</a
          >
        </li>
        <li class="work-item">
          <h3>AI Speculation Quiz</h3>
          <p>画像生成のプロンプトを当てるクイズサイト</p>
          <a href="/works/ai-speculation-quiz.html"
            >AI Speculation Quizの詳細を見る</a
          >
        </li>
        <li class="work-item">
          <h3>Funeral of my own</h3>
          <p>参列者と双方向にやり取りができるインタラクティブな棺桶</p>
          <a href="/works/funeral-of-my-own.html"
            >Funeral of my ownの詳細を見る</a
          >
        </li>
      </ul>
    </div>
    <div id="site-footer"></div>
    <script src="/controller/components/common-components.js"></script>
  </body>
</html>
